@import url("./../../../assets/styles/breakpoint.less");

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--white-1);
  width: 7vw;
  height: 7.5vw;
  border-radius: 4px;
  padding: 8px 4px;
  cursor: default;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  transition: background-color 0.3s;

  @media @mobile {
    background-color: var(--black-6);
    width: 28vw;
    height: 28vw;
  }
}

.tab-icon {
  width: fit-content;
  height: 3.5vw;

  @media @mobile {
    height: 14vw;
  }
}

div.icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

p {
  text-align: center;
}

:host.active {
  border: 1px solid var(--white-5);
}

:host.active,
:host:focus,
:host:hover {
  background-color: var(--white-3);

  @media @mobile {
    background-color: var(--black-9);
  }
}
