@import url("./../../../assets/styles/breakpoint.less");

div.info--layout {
  position: absolute;
  inset: 0;
  z-index: 1;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 55%;

  @media @mobile {
    max-width: unset;
    padding: 0 5%;
    top: unset;
    height: 55%;
  }
}

div.about-me--container {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @media @mobile {
    gap: 20px;
  }
}

div.about-me--header {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media @mobile {
    gap: 4px;
  }
}

div.about-me--body {
  max-width: 90%;

  @media @mobile {
    max-width: unset;
  }
}

div.avatar--layout {
  position: absolute;
  z-index: 2;
  inset: 0;
  left: unset;
  width: 55%;

  @media @mobile {
    left: 0;
    width: 100%;
    max-height: 55%;
  }
}

div.avatar--progress {
  position: absolute;
  z-index: 2;
  inset: 0;
  padding: 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.state--default {
  opacity: 0;
  transition: opacity 4s;
}

.state--show {
  opacity: 1;
}
