div.avatar {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 45%;
}

div.text {
  position: absolute;
  z-index: 1;
  z-index: 1;
  inset: 0;
  padding-right: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: var(--white-100);
  line-height: 4rem;
}

span.secondary-text {
  font-size: 4rem;
  color: var(--white-100);
}

span.primary-text {
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--primary-normal);
}
