<div class="project--page">

  <div class="project--header">

    <ui-tab-set>
      <ng-container *ngFor="let project of data.person.projects">
        <ui-tab [icon]="project.icon" [name]="project.shortname"
          [active]="project.shortname === projectSelected.shortname" (click)="onSelectProject(project)"></ui-tab>
      </ng-container>
    </ui-tab-set>

  </div>

  <ng-container *ngIf="projectSelected">

    <div class="project--body">

      <video #videoPlayerRef controls="true" controlslist="nodownload, nofullscreen" loop="true"
        [poster]="projectSelected.poster">
        <source [src]="projectSelected.video" type="video/mp4">
        <p typography size="xs" color="white">Your browser doesn't support HTML5 video.</p>
      </video>

    </div>


    <div class="project--footer">

      <div class="project--footer-content">

        <div class="project--footer-detail">

          <p typography size="sm" color="white">
            {{ projectSelected.name }}
          </p>

          <p typography size="xs" color="white-7" lines="3">
            {{ projectSelected.detail}}
          </p>

        </div>

      </div>

    </div>

  </ng-container>

</div>
