@import url("./../../../assets/styles/breakpoint.less");

:host {
  display: flex;
}

div.project--page {
  width: 55% !important;
  height: 95% !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

div.project--header {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

div.project--body {
  flex-grow: 1;
}

video {
  width: 100%;
  height: 100%;
}

div.project--footer {
  display: flex;
  gap: 32px;
}

div.project--footer-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

div.project--footer-tags {
  display: flex;
  gap: 8px;
}

div.project--footer-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

div.project--footer-stats {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
