<div class="project--page">

  <div class="project--header">

    <ui-button-tab icon="facebook" name="Facebook"></ui-button-tab>
    <ui-button-tab icon="facebook" name="Facebook"></ui-button-tab>
    <ui-button-tab icon="facebook" name="Facebook"></ui-button-tab>
    <ui-button-tab icon="facebook" name="Facebook"></ui-button-tab>
    <ui-button-tab icon="facebook" name="Facebook"></ui-button-tab>

  </div>


  <div class="project--body">

    <video controls="true" loop="true" poster="assets/videos/video-poster.sample.jpg">
      <source src="assets/videos/sample.mp4" type="video/mp4">
      <p>Your browser doesn't support HTML5 video.</p>
    </video>

  </div>


  <div class="project--footer">

    <div class="project--footer-content">

      <div class="project--footer-detail">

        <p typography type="display" size="extrasmall" color="white">
          Accelerating Strategy Execution in Uncertainty
        </p>

        <p typography type="text" size="extralarge" color="white-50">
          Eficientis supports all stages of strategy execution, such as the Kaplan-Norton strategy Execution Premium
          Process
          (XPP). The platform supports all of your core strategy execution activities including.
        </p>

      </div>

      <div class="project--footer-tags">
        <ui-tag>
          <svg-icon name="facebook" [svgStyle]="{ 'height.px': 12 }"></svg-icon>
          <p typography type="text" size="extralarge" color="white">
            angular
          </p>
        </ui-tag>
      </div>

    </div>

    <div class="project--footer-stats">

    </div>

  </div>

</div>
