@import url("./../../../assets/styles/breakpoint.less");

:host {
  width: 70% !important;
  margin: auto;
}

div.project--header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;
}

div.project--tab-set {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
