<div class="project--page">

  <div class="project--header">
    <ng-container *ngFor="let _project of data.person.projects">
      <ui-tab [icon]="_project.icon" [name]="_project.shortname" (click)="project = _project"></ui-tab>
    </ng-container>
  </div>

  <ng-container *ngIf="project">

    <div class="project--body">

      <video controls="true" loop="true" [poster]="project.poster">
        <source [src]="project.video" type="video/mp4">
        <p typography size="xs" color="white">Your browser doesn't support HTML5 video.</p>
      </video>

    </div>


    <div class="project--footer">

      <div class="project--footer-content">

        <div class="project--footer-detail">

          <p typography size="sm" color="white">
            {{ project.name }}
          </p>

          <p typography size="xs" color="white-5" lines="2">
            {{ project.detail}}
          </p>

        </div>

      </div>

    </div>

  </ng-container>

</div>
