@import url("assets/fonts/Inter/inter.font-face.css");
@import url("assets/styles/reset.less");
@import url("assets/styles/normalize.less");
@import url("assets/styles/breakpoint.less");

:root {
  --dark: #131622;
  --primary-dark: #12494a;
  --primary: #1edaa1;
  --primary-light: #07c8cc;
  --secondary-dark: #1e3566;
  --secondary: #075fe4;
  --secondary-light: #255cd1;
  --white: rgb(255, 255, 255);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-10: rgba(255, 255, 255, 0.1);
  --black: rgb(0, 0, 0);
  --black-50: rgba(0, 0, 0, 0.5);
}

*,
html,
body {
  cursor: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;

  @media @mobile {
    font-size: 7px;
  }

  @media @tablet {
    font-size: 10px;
  }
}

body {
  background-color: var(--dark);
  background-position: center;
  background-origin: border-box;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;

  @media @mobile {
    background-image: url("assets/images/pattern.mobile.svg"),
      linear-gradient(
        52.06deg,
        var(--secondary-dark) 9.35%,
        var(--dark) 28.55%,
        var(--dark) 70.25%,
        var(--primary-dark) 87.84%
      );
  }

  @media @tablet {
    background-image: url("assets/images/pattern.desktop.svg"),
      linear-gradient(
        67.32deg,
        var(--secondary-dark) 0%,
        var(--dark) 24.47%,
        var(--dark) 77.6%,
        var(--primary-dark) 100%
      );
  }
}
