@import url("./../../../assets/styles/breakpoint.less");

:host {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  fill: var(--white);
  border: 1px solid transparent;
  background-color: var(--white-1);
  transition: background-color 0.3s;
}

:host.button {
  cursor: default;
}

:host.link {
  cursor: pointer;
}

:host.icon-only {
  border-radius: 50%;
  width: 3.5vw;
  height: 3.5vw;

  @media @mobile {
    width: 13vw;
    height: 13vw;
  }
}

.button-icon {
  width: fit-content;
  height: 1.5vw;

  @media @mobile {
    height: 5.5vw;
  }
}

:host.icon-none {
  border-radius: 5px;
  width: fit-content;
  height: 3.5vw;
  padding: 0 2vw;

  @media @mobile {
    height: 12vw;
    padding: 0 20px;
  }
}

:host.icon-only:focus,
:host.icon-only:hover {
  background-color: var(--white-3);
  border-color: var(--white-5);
}

:host.icon-none:focus,
:host.icon-none:hover {
  background-color: var(--black-1);
  border-color: var(--primary);
}
